$font-stack: "Helvetica";
$text-color-primary: #fff;
$text-color-secondary: #a6a6a6;
$text-color-tertiary: #444;
$body-bg-color: #271831;
$bg-color-primary:#111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;
$border-color: #333;
$social-btn-color: #333;
$linkedin-color: #0072B1;
$github-color: #fff;
$instagram-color: #BC2A8D;
$phone-icon-color: #e93b81;
$email-icon-color: #6ab5b9;
$location-icon-color: #c17ceb;
$git-color: #e33c26;
$html-color: #e44d26;
$css-color: #264de4;
$js-color: #f0db4f;
$node-color: #83cd29;
$npm-color: #cb3837;
$sass-color: #c69;
$react-color: #61dbfb;
$mysql-color: #00618a;
$mongo-color: #4DB33D;
$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1)) 100%;



