$font-stack: "Helvetica";
$text-color-primary: #FFF;
$text-color-secondary: #a6a6a6;
$text-color-tertiary: #444;
$body-bg-color: #271831;
$bg-color-primary:#111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;
$border-color: #444;
$social-btn-color: #333;
$linkedin-color: #0072B1;
$github-color: #111;
$instagram-color: #BC2A8D;
$phone-icon-color: #e93b81;
$email-icon-color: #6ab5b9;
$location-icon-color: #c17ceb;
$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1)) 100%;



