@use "../variables.scss";
@use "../mixins.scss";

.technologies-container {
  margin-bottom: 1rem;


  .technologies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .technology-card {
    @include mixins.center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid variables.$border-color;
    width: 45%;
    border-radius: variables.$card-border-radius;
    transition: all .3s ease-in-out;

    &:hover {
    transform: scale(1.1);
    
    }
  }

  h3 {
    color: variables.$text-color-primary;
    margin-bottom: 1rem;
  }

  svg {
    font-size: 6rem;
  }
}

#git {
  > svg {
    color: variables.$git-color;
  }
}

#html {
  > svg {
    color: variables.$html-color;
  }
}

#css {
  > svg {
    color: variables.$css-color;
  }
}

#js {
  > svg {
    color: variables.$js-color;
  }
}

#node {
  > svg {
    color: variables.$node-color;
  }
}

#npm {
  > svg {
    color: variables.$npm-color;
  }
}

#sass {
  > svg {
    color: variables.$sass-color;
  }
}

#react {
  > svg {
    color: variables.$react-color;
  }
}

#mysql {
  > svg {
    color: variables.$mysql-color;
  }
}

#mongo {
  > svg {
    color: variables.$mongo-color;
  }
}
